* {
    /* border: #900000 solid 1px; */
}

/*RESET********************************/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #F0F0F0;
    font-family: 'Ubuntu', sans-serif;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*RESET********************************/

/*NAVIGATION********************************/
.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
    animation-name: peekaboo;
    animation-duration: 1s;
    animation-delay: 0.7s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 15;
}

@keyframes peekaboo {
    0% {
        opacity: 0;
        top: 10vh;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.btn.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: white;
}

.btn.active .middle {
    opacity: 0;
    background: black;
}

.btn.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-17px) translateX(0) rotate(-45deg);
    background: white;
}

.btn span:nth-of-type(2) {
    top: 11px;
}

.btn span:nth-of-type(3) {
    top: 22px;
}

.site_nav_button {
    position: relative;
    padding: 0 25px;
    top: -6%;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 20;
}


.site_logo {
    padding: 0 25px;
    font-size: 2em;
    z-index: 20;
    font-family: 'Unica One', cursive;
}


.site_logo a {
    color: black;
}

.site_logo a.open {
    color: white;
}

.site_nav_button span {
    display: block;
    background-color: black;
    height: 4px;
    width: 39px;
    margin-top: 10px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

/*NAVIGATION********************************/

/*OVERLAY********************************/
.overlay {
    background-color: #580000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 1;
}

.overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
    position: fixed;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay .overlay_nav {
    position: relative;
    height: 70%;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #F0FFF0;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #F0FFF0;
    -webkit-transition: .35s;
    transition: .35s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}




/*INTRO********************************/
.intro {
    position: relative;
    animation-name: peekaboo;
    animation-duration: 1s;
    animation-delay: 1.2s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: -1;
}

.sticky_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Unica One', cursive;
    font-size: 1.4em;
}

.sticky_logo h4 {
    position: fixed;
    margin-top: 250px;
    color: #FFFFFF;
    z-index: -1;
    font-size: 2.2em;
    opacity: 0.9;
    animation-name: color_fill;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
}

@keyframes color_fill {
    0% {
        color: #900000;
    }

    100% {
        color: #fff;
    }
}


.intro--header {
    font-size: 3em;
    padding: 85px 35px 35px 35px;
    line-height: 1.4em;
    font-weight: bolder;
}

.intro--header-word-color {
    color: #900000;
}

.intro--desc {
    padding: 35px;
    line-height: 2.1em;
    font-size: 1.2em;
    color: #989898;
}

.intro--link {
    padding: 0 35px;
    cursor: pointer;

}

.intro--link a {
    text-decoration: none;
    color: #900000;
    font-size: 1.3em
}

.intro--link i {
    color: #900000;
    font-size: 1.3em;
    padding-right: 15px;
}



/*INTRO********************************/

/*CLIENTS********************************/
.our_clients h4 {
    padding: 105px 35px 35px;
    font-size: 1.3em;
}

.our_clients-container {
    padding: 35px;
    display: flex;
    justify-content: center;
}

.clients-container--row_one {
    display: flex;
    flex-direction: column;
    border-right: #900000 0.5px solid;
}

.clients-container--row_two {
    display: flex;
    flex-direction: column;
}


.client {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid #900000;
    height: 20vh;
    overflow: auto;
    width: 30vw;
}

.client-image {
    width: auto;
    height: auto;
    max-width: 100%;
}

.client:nth-last-child(1) {
    border-bottom: none;
}


/*CLIENTS********************************/

/*WORK********************************/
.work_container {
    padding: 35px;
}

.work h4 {
    font-size: 1.3em;
    padding: 105px 35px 35px;
}

.work_container-work {
    margin-bottom: 5vh;
    background-color: #900000;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0 1em 1.5em 0.25em rgba(0, 0, 0, 0.3);
}


.work_container h4 {
    font-size: 1.3em;
    padding: 35px 35px 35px 0;
    color: #F0F0F0;
}

.work--link {
    font-size: 1.3em;
    color: #F0F0F0;
    padding: 35px 0;
}

.work--link a {
    color: #F0F0F0;

}

/*WORK********************************/

/*WWD********************************/
.wwdo_container {
    padding: 35px;
}

.wwdo_container_title {
    font-size: 1.3em;
    padding: 105px 0;
}

.wwdo_container_item {
    display: flex;
    margin-bottom: 2em;
}

.wwdo_item_icon {
    color: #900000;
    padding-right: 35px;
    font-size: 2em;
    font-weight: lighter;
}

.wwdo_item_desc {
    font-size: 1.2em;
    color: #989898;
}

.wwdo_container_img {
    padding-bottom: 35px;

}

/*WWD********************************/


/*CONNECT********************************/
.connect {
    padding: 35px;
}

.connect_header--title {
    font-size: 3em;
    padding: 85px 0 0;
    line-height: 1.4em;
    font-weight: bolder;

}



.connect_header--link i {
    color: #900000;
    font-size: 3em;
    padding: 35px 0 85px 0;
}


.connect_location {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.connect_location--menu {
    display: flex;
    flex-direction: column;
}

.connect_location--menu p {
    padding-bottom: 35px;
    font-size: 1.3em;
}



.connect_location--office {
    display: flex;
    flex-direction: column;
}

.connect_location--office p {
    padding-bottom: 35px;
    font-size: 1.3em;
}

.connect_menu--item {
    padding: 35px 0 0 0;
    color: #989898;
}

.connect_location--office--item {
    padding: 35px 0 0 0;
    color: #989898;
}

.connect_footer {
    padding: 85px 0 35px 0;
}

.connect_footer--email p {
    font-size: 1.3em;
}

/*CONNECT********************************/















@media only screen and (min-width: 550px) {
    .client-image {
        max-width: 150px;
    }
}