*{
    border: #900000 solid 1px;
}

/*RESET********************************/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #F0F0F0;
    font-family: 'Ubuntu', sans-serif;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*RESET********************************/

/*NAVIGATION********************************/
.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 15vh;
    position: relative;

}

.site_nav_button {
    position: relative;
    padding: 0 25px;
    top: -6%;
    cursor: pointer;
}

.site_logo {
    padding: 0 25px;
    font-size: 1.7em;
}

.site_nav_button span {
    display: block;
    background-color: black;
    height: 2px;
    width: 42px;
    margin-top: 10px;
}

/*NAVIGATION********************************/

/*INTRO********************************/
.intro--header {
    font-size: 3em;
    padding: 85px 35px 35px 35px;
    line-height: 1.4em;
    font-weight: bolder;
}

.intro--header-word-color {
    color: #900000;
}

.intro--desc {
    padding: 35px;
    line-height: 2.1em;
    font-size: 1.2em;
    color: #989898;
}

.intro--link {
    padding: 0 35px;
    cursor: pointer;

}

.intro--link a {
    text-decoration: none;
    color: #900000;
    font-size: 1.3em
}

.intro--link i {
    color: #900000;
    font-size: 1.3em;
    padding-right: 15px;
}



/*INTRO********************************/

/*CLIENTS********************************/
.our_clients h4 {
    padding: 105px 35px 35px;
    font-size: 1.3em;
}

.our_clients-container {
    padding: 35px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 0;
    justify-content: center;
}

.clients-container--row_one{
    border-right: 1px solid #900000
}


.client {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid #900000;
    height: 20vh;
}

.client:nth-last-child(1){
    border-bottom: none;
}


/*CLIENTS********************************/

/*WORK********************************/
.work_container{
    padding: 35px;
}
.work_container-work{
    margin: 105px 0;
    width: 100%;
}
.work_container h4{
    font-size: 1.3em;
    padding: 105px 35px 35px 0;
}
.work--link{
    font-size: 1.3em;
    color: #900000;
}
.work--link a{
    color: #900000;
}

/*WORK********************************/
